
<mat-toolbar style="background-color: #475294; color:white;">
<mat-toolbar-row>
    <h1>Sistema</h1>
    <button mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
    </button>

    <span style="flex: 1 1 auto;"></span>
    <label style="font-size:12px; margin-right: 20px;">
    {{email}} | {{rolUsuario}}
  </label>

  <button mat-icon-button (click)="cerrarSesion()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width:200px; background-color: #475294">
      <mat-nav-list>

          <mat-list-item *ngFor="let menu of listaMenu" [routerLink]="menu.url">
            <mat-icon style="color: white" matListItemIcon>{{menu.icono}}</mat-icon>
            <div style="color: white" mat-line>{{menu.nombre}}</div>
          </mat-list-item>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <div style="height: 92vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
