.card,
-info
{
  width: 80%;
}

mat-icon{
  font-size: 50px !important;
  height: 50px !important;
  width: 50px !important;
}


@media (min-width: 720px) {
  mat-grid-list {
    display: flex;
    flex-direction: column;
    justify-content: start ;
    gap: 10px;
  }
}



